@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
    background: white;
    font-family: "UniversBoldCondensed", Helvetica, sans-serif;
}

.header {
    /*align the logo center, hover with pink color, increase font, add a pink border,remove underline*/
    .container {
        text-align: center;
        background: rgb(216, 122, 147);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(216, 122, 147, 1) 100%);
        padding: 40px;
        .logo {
            font-size: 150px;
            font-family: 'Poppins';
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            color: rgb(46, 45, 45);
            ;
            &:hover {
                color: palevioletred;
            }
        }
    }
}

.navbar {
    /*make background blabk,center text,create space between text,remove underline,*/
    .container {
        background: white;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        li {
            display: inline-block;
            padding-left: 20px;
            font-size: 20px;
            a {
                color: black;
                text-decoration: none;
            }
        }
    }
}

.hero {
    /*align text to nenter,make the backround pink*/
    text-align: center;
    padding: 10em 4em;
    background: #f2f2f2;
    color: rgb(46, 45, 45);
    .container {
        /*put image and text next to each other*/
        display: flex;
        justify-content: space-between;
        text-align: left;
        .left-column {
            flex: 3;
            .subhead {
                /*make the subheading white,bold,align text to center,have space in between letters*/
                font-weight: bold;
                color: palevioletred;
                letter-spacing: .2em;
                font-size: 3.5em;
                text-align: center;
                padding-bottom: 70px;
                padding-top: 50px;
            }
            h1 {
                font-size: 1.7em;
                line-height: 1.3em;
                margin: 2em;
            }
            .primary-cta {
                /*make the button orange,with white text*/
                background: rgb(136, 177, 255);
                color: white;
                text-decoration: none;
                padding: 1em 3em;
                font-size: 1.6em;
                border-radius: 5em;
                font-weight: bold;
                display: inline-block;
            }
            .watch-video-cta {
                /*remove underline from the link,make text white*/
                display: block;
                margin-top: 1em;
                font-size: 1.6em;
                text-decoration: none;
                font-weight: bold;
                color: palevioletred;
            }
            img {
                // margin-right: .5em;
                width: 40px;
            }
        }
    }
}

.hero-cta {
    /*put the hero cta's next to each other*/
    display: flex;
    margin-left: 200px;
    margin-top: 100px;
    .primary-cta {
        margin-right: 1em;
    }
}

.right-column {
    width: 100%;
    flex: 2;
    .hero-img {
        width: 100%;
        border-radius: 2em;
    }
}

.games-section {
    background: rgb(168, 145, 152);
    color: white;
    text-align: center;
    p {
        font-family: Arial, Helvetica, ;
        padding-bottom: 20px;
        font-size: 20px;
    }
    img {
        width: 50%;
    }
    h2 {
        font-size: 60px;
        padding-bottom: 40px;
    }
    h1 {
        font-size: 100px;
    }
}

.dota {
    background: url(https://picfiles.alphacoders.com/175/thumb-1920-175640.jpg) no-repeat center center fixed;
    min-height: 600px;
    background-size: cover;
}

.gears {
    background: url(https://www.rxwallpaper.site/wp-content/uploads/gears-of-war-wallpapers-hd-wallpaper-cave-1-800x800.jpg) no-repeat center center fixed;
    min-height: 600px;
    background-size: cover;
}

.splintercell {
    background: url(https://gametrex.com/wp-content/uploads/2018/11/Tom-Clancys-Splinter-Cell-Conviction-Free-Download-800x500.jpg) no-repeat center center fixed;
    min-height: 600px;
    background-size: cover;
}

.tekken {
    background: url(https://www.pcgamesd.com/wp-content/uploads/2020/05/Tekken-3-2.jpg) no-repeat center center fixed;
    min-height: 600px;
    background-size: cover;
}

.overlay {
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 600px;
    width: 100%;
    margin: auto;
    line-height: 30px;
    .description {
        width: 80%;
        margin: auto;
    }
}

.games-table {
    background: #F2F2F2;
    h1 {
        font-size: 70px;
        text-align: center;
        font-family: 'Poppins';
        color: rgb(44, 42, 42);
    }
    table,
    th,
    td {
        border: 4px rgb(92, 81, 88) solid;
    }
    th,
    td {
        padding: 10px;
        text-align: center;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th {
        height: 40px;
        font-size: 15px;
    }
    tr:hover {
        /*when hoverover row make it pink*/
        background-color: palevioletred;
    }
    a {
        text-decoration: none;
        color: grey;
        &:hover {
            color: #fff;
        }
    }
}

.contact-section {
    background: rgb(216, 122, 147);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(216, 122, 147, 1) 100%);
    .container {
        display: flex;
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .container-left {
        flex: 1;
        display: flex;
    }
    .container-right {
        flex: 2;
    }
    h2 {
        font-size: 40px;
        padding-top: 20px;
        text-align: center;
        padding-bottom: 30px;
        font-family: 'Poppins';
        color: rgb(44, 42, 42);
    }
}

.subscription {
    padding-right: 100px;
    padding-left: 40px;
    label {
        font-size: 20px;
    }
    input[type="submit"] {
        background-color: rgb(136, 177, 255);
        color: white;
        font-weight: bold;
        font-size: 1.3em;
        border: none;
        margin-bottom: 5em;
        border-radius: 5em;
        display: inline-block;
        padding: .8em 2em;
        width: unset;
        cursor: pointer;
        margin-top: 20px;
    }
    input[type=text] {
        display: block;
        margin: 70px;
        padding: 10px;
        border: 0;
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    }
}

.platform {
    button[type="submit"] {
        background-color: rgb(136, 177, 255);
        color: white;
        font-weight: bold;
        font-size: 1.3em;
        border: none;
        border-radius: 5em;
        display: inline-block;
        padding: .8em 2em;
        width: unset;
        cursor: pointer;
        margin: 30px 100px;
    }
    p {
        font-size: 20px;
    }
    .group {
        div {
            padding-top: 20px;
            padding-left: 10px;
        }
    }
}

.testimonial {
    background: #f2f2f2;
    h2 {
        font-size: 30px;
        text-align: center;
        font-family: Helvetica;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.contact-right {
    padding: 30px;
    margin-top: -50px;
    margin-left: -190px;
}

.testimonial {
    padding-bottom: 20px;
    .container {
        /*border to contain the image and text of testimony and align in center document*/
        border: rgb(165, 162, 162) solid 2px;
        border-radius: 5px;
        background: #f2f2f2;
        display: flex;
    }
    img {
        border-radius: 50px;
    }
    .quote {
        display: block;
    }
}

.testimonialButtons button {
    background-color: #88b1ff;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    border: none;
    border-radius: 5em;
    padding: .6em 2em;
    width: unset;
    cursor: pointer;
}